<body>
    <section class="head">
       <div class="main-width">
          <div class="container">
             <div class="head-text">
                <h3></h3>
                <h1><span style="display: block; font-size: 40px;" ></span></h1>
                <p></p>
             </div>
             <section class="content">
                <div class="container2">
                   <div class="box">
                      <div class="dream">
                         <img src="../assets/-,,🐰@bbunnyee ⊹.jpg"> <b>Pilek</b>
                         <img src="../assets/14 Great Facts About Bull Terriers.jpg"> <b>Kunciran</b>
                         <img src="../assets/17 Dawgs Who Are Slaying The Canine Game.png"><b>Kacamata Kiyowo</b>
                         <img src="../assets/Adorable _ The Place For Pet People _ Cuteness.jpg"><b>Berbikini</b>

                      </div>
             
                      <div class="dream">
                         <img src="../assets/awwww! Cute!.jpg"><b>Baca Buku</b>
                         <img src="../assets/Boss made me come in on a Saturday.jpg"><b>Melihat Projek Kerja</b>
                         <img src="../assets/Natural Bully Sticks, Dog Bones, Dog Treats & More _ Pawstruck_com.jpg"><b>Reggae</b>
                         <img src="../assets/Pug Domination.jpg"><b>Jalan-jalan Sore</b>
                         

                      </div>
             
                      <div class="dream">
                         <img src="../assets/download (1).jpg"><b>Sedih</b>
                         <img src="../assets/download.jpg"><b>Seksi Stoking</b>
                         <img src="../assets/Gotta catch them all.jpg"><b>Wleeeee</b>
                         <img src="../assets/Happy Monday!.jpg"><b>Selfie in Piramid</b>
                         <img src="../assets/24 Plump Animals That You'll Want To Squeeze.jpg"><b>Bersepeda</b>
                         <img src="../assets/Pug graduation card _ Zazzle.jpg"><b>yeayy Wisudahh</b>
                      </div>
                   </div>
                </div>
             </section>
          </div>
       </div>
    </section>
 </body>