<body>
    <section class="head">
       <div class="main-width">
          <div class="container">
             <div class="head-text">
                <h1><span style="display: block; font-size: 40px;" >Selamat Datang</span></h1>
                <div style="display: flex;">
                    <div>
                        <p>Website ini menyediakan foto tentang tingkah hewan peliharaan terlebih hewan seperti peliharaan anjing. Anjing adalah hewan peliharaan yang sangat populer di seluruh dunia. Mereka dikenal sebagai sahabat yang setia dan sangat cerdas. Anjing berasal dari keluarga Canidae dan merupakan salah satu hewan domestikasi tertua di dunia. Anjing memiliki berbagai jenis yang berbeda-beda, mulai dari yang kecil hingga yang besar, dengan warna dan karakteristik yang beragam.

                            Anjing biasanya dipelihara sebagai hewan peliharaan, tapi juga bisa digunakan untuk kegiatan seperti berburu, menjaga keamanan, atau bahkan menjadi penolong dalam kegiatan penyelamatan. Anjing sangat mudah dilatih dan bisa menjadi teman yang baik untuk semua anggota keluarga.
                            
                            Untuk merawat anjing, penting untuk memberi makan dengan makanan yang sehat dan mengandung nutrisi yang cukup. Selain itu, anjing juga perlu diberi perawatan seperti membersihkan gigi dan telinga, memandikan, serta memotong kuku. Anjing juga perlu dilatih agar bisa mengikuti perintah dan perilaku yang baik.</p>

                            <p>Tidak hanya sekedar untuk meatuhi dan bersikap baik, tetapi ada saja tingkah hewan lucu dan menggemaskan ini. Untuk itu website ini menyediakan berbagai foto tingkah nyeleneh anjing sebagai hewan peliharaan.</p>
                    </div>
                    <div style="margin-left: 100px;">
                        <img src="../assets/funny.jpg" alt="funny" width="325px">
                    </div>
                </div>
                
                
                    
             </div>
            
          </div>
       </div>
    </section>
 </body>